body {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 18px;
  color: #000000;
}
h1 {
  font-size: 40px;
  font-weight: 300;
  border-bottom: 1px solid black;
}
.container {
  background-color: #B3D6C0;
  padding: 50px;
  margin: 100px auto;
  width: 700px;
  height: 400px;
  border-radius: 5px;
}
.vrstica {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}
.ime, .stanje {
}
.podnaslov {
  font-size: 20px;
  color: #75A28E;
  margin-bottom: 20px;
}
